
.user-info {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}

.user-info .icon {
  width: 20px;
  margin-right: 10px;
}

main {
  display: flex;
  padding: 2rem;
  min-height: 100vh;
}

aside {
  width: 200px;
  background-color: #fff;
  padding: 1rem;
  margin-right: 2rem;
  /*border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

aside nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

aside nav ul li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4rem;
  font-size: x-large;
}

aside nav ul li.active {
  background-color: #ffd700;
  border-radius: 4px;
}

aside nav ul li svg {
  width: 20px;
  margin-right: 10px;
}

.active-menu-item {
  background-color: #ffd700; /* Highlight active menu item */
}

/* Dashboard */
.dashboard {
  flex: 1;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.stats-grid.secondary {
  grid-template-columns: repeat(3, 1fr);
}

.stat-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #666;
}

.stat-card p {
  font-size: 1.5rem;
  font-weight: bold;
}

.publish-form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subject-input,
.description-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.description-input {
  height: 100px;
  resize: vertical;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.checkbox-group label {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.publish-btn {
  background-color: #ffd700;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/*Site Logs CSS*/
.table-container {

  background-color: #fff;
  min-inline-size: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
  height: 100vh; /* Sets the scrollable height */
  overflow-y: auto; /* Adds vertical scrolling */
}

table {
  width: 100%;
  border-collapse: seperate;
  border-spacing: 1rem;
}

th,
td {
  /*border: 1px solid #ccc  ;*/
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #ffd700;
  position: sticky; /* Keeps headers in place */
  top: 0;
  z-index: 10; /* Ensures headers are above scrollable content */
}

/*MOD LOGS CSS*/

/*VIEW TABLES CSS*/
