main {
  display: flex;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

.title-container {
  margin: 1rem 1rem 2rem 1rem;
}

.title {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 2rem;
}

.author {
  font-style: italic;
  color: #666;
}

.chapter-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.chapter-content {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  margin-bottom: 2rem;
  position: relative;
}

.chapter-content p {
  text-align: justify;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #ffd700;
  color: #000;
}

.comments {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.comment {
  margin-bottom: 1rem;
}

.comment-form textarea {
  width: 100%;
  height: 5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.chapter-menu {
  width: 20%;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  height: auto;
  overflow-y: auto;
}

.chapter-menu h2 {
  color: #ffd700;
  margin-bottom: 1rem;
}

.chapter-menu ul {
  list-style-type: none;
  padding: 0;
}

.chapter-menu li {
  margin-bottom: 0.5rem;
}

.chapter-menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.chapter-menu a:hover {
  color: #ffd700;
}

.main-content {
  width: 60%;
  padding: 1rem;
}

.advertisement {
  padding: 1rem;
  background-color: #fff;
}

.advertisement img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.active {
  color: #ffd700;
  padding-left: 1rem;
  border: 1px solid #ffd700;
  border-radius: 1rem;
}
