.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .product-layout {
    flex-direction: row;
  }
}

.product-image,
.product-info {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-details {
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.description {
  color: #666;
  margin-bottom: 20px;
}

.purchase-description {
  border: 1px solid #888;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.read-button-container {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.read-button {
  background-color: #ffd700;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.read-button:hover {
  animation: read-color-appear 0.2s forwards;
}

.read-button-container button {
  min-height: 3rem;
}

@keyframes read-color-appear {
  from {
    color: #000;
  }
  to {
    color: #fff;
  }
}

/*adding to my booklist */
.add-to-list {
  display: none;
  position: fixed; /* Make it fixed to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background: rgba(0, 0, 0, 0.6); /* Adjust the opacity of the background */

  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  z-index: 1;
}

.list-add-container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 2;
}

.list-add-radios {
  display: flex;
  gap: 10px;
}

.list-add-actionBtns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.add-list-cancel-button {
  background-color: #535353;
  color: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.5rem;
}
.add-list-submit-button {
  background-color: #ffd700;
  color: #000;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.5rem;
}

/*buy button*/
.buy-button {
  background-color: #000000;
  border: none;
  color: #ffd700;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  min-height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button:hover {
  animation: buy-color-appear 0.3s forwards;
}

@keyframes buy-color-appear {
  from {
    color: #ffd700;
  }
  to {
    color: #fff;
  }
}

/*Table of Content*/
td {
  padding-left: 5px;
  padding-right: 20px;
  text-decoration: none;
}
