body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .product-layout {
    flex-direction: row;
  }
}

.product-image,
.product-info {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-details {
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.description {
  color: #666;
  margin-bottom: 20px;
}

.purchase-description {
  border: 1px solid #888;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.read-button-container {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.buy-button {
  background-color: #ffd700;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button:hover {
  background-color: #ffcc00;
}

.table-of-contents {
  margin-top: 30px;
}

.table-of-contents h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.table-of-contents ul {
  list-style-type: none;
  padding: 0;
}

.table-of-contents li {
  margin-bottom: 10px;
}

.table-of-contents a {
  color: #0066cc;
  text-decoration: none;
}

.table-of-contents a:hover {
  text-decoration: underline;
}
