/* Main Browse Page Styles */
.browse-main-container {
  display: flex;
  width: 100%;
  padding: 2rem;
}

main {
  display: flex;
  width: 100%;
  padding: 2rem 3rem 2rem 3rem;
}

#title {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin: 1rem 0 0 0;
}

/* Search Section */
.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2.5rem;
}

.search-section form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80%;
  gap: 10px;
}

#search-bar {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: large;
}

#search-btn {
  padding: 8px 16px;
  border: none;
  background-color: #ffd700;
  color: #000;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: large;
}

#search-btn:hover {
  background-color: #ffc400;
}

/* Book Category Section */
.browse-body-section {
  width: 100%;
}

.book-category {
  margin-bottom: 30px;
}

.book-category h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Book Grid */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

/* Book Card */
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 0.1rem solid #e0e0e0;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: #fff;
  transition: transform 0.5s, background-color 0.3s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
  background-color: #ffd700;
}

.book-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.book-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.book-card p {
  font-size: 14px;
  color: #888;
}

/* Ad image */
.ad-image {
  margin-top: 2.5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 80rem;
  width: 10rem;
}

/* No books for genre section*/
.noBooksForGenres {
  background-color: rgba(255, 215, 0, 0.2); /* Light golden background */
  border: 2px solid #ffd700; /* Accent border */
  border-radius: 12px; /* Rounded edges */
  padding: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  max-width: 60vw; /* Limit width */
  margin: 20px auto; /* Center the box */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.noBooksForGenres p {
  color: #444; /* Dark gray text */
  font-size: 16px;
  line-height: 1.5;
}

.noBooksForGenres p:first-child {
  font-weight: bold;
  font-size: 18px;
  color: #222; /* Slightly darker text for emphasis */
}
