footer {
  background-color: #f4f4f4;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid #ffd700;
  position: relative;
  z-index: 50;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  margin: 0 1rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  color: #ffd700;
}

.social-icons {
  margin-top: 1rem;
}

.social-icons a {
  margin: 0 0.5rem;
}

.social-icons img {
  max-width: 24px;
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 2rem;
  color: #000;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ffe864;
  border-radius: 1rem;
  border: 0.4rem solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffd700;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #ffd700;
  border-radius: 50%;
  outline: none;
  transition: all 0.3s;
}

input[type="radio"]:checked {
  background-color: #ffd700;
  border-color: #ffd700;
  box-shadow: 0 0 0 3px white inset;
}

input[type="radio"]:hover {
  border-color: #ffaa00;
}

input[type="checkbox"] {
  appearance: none;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  border: 2px solid #ffd700;
  outline: none;
  transition: all 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #ffd700;
  border-color: #ffd700;
  box-shadow: 0 0 0 3px white inset;
}

input[type="checkbox"]:hover {
  border-color: #ffaa00;
}
