* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.nav-button-container {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;

  font-size: 1rem;
  font-weight: normal;
}

/*RIGHT SIDE OF THE HEADER BAR*/
.nav-right-side-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.search-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.action-button-container {
  display: flex;
  align-items: center;
}

.action-button {
  display: flex;
  margin-right: 1rem;
}

.sign-in-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-btn {
  background-color: #ffd700;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;

  border-radius: 1rem;
}

.profile-btn:hover {
  background-color: #dcbb01;
}

.profile-btn img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.sign-in-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 1rem;

  background-color: #fff;
  color: #333;
}

.sign-in-btn button{
  background: none;
  color: #333;
  border: none;
  cursor: pointer;
}

.sign-in-btn:hover{
  background-color: #f0f0f0;
}

svg {
  display: inline-block;
  visibility: visible;
  width: 1.5rem;
  height: 1.5rem;
}

.premium-notification-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.go-premium-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.premium-btn {
  background-color: #000;
  color: #ffd700;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.premium-btn:hover {
  background-color: #777;
}

.notification-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.25rem 0.3rem;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}

.notification-btn:hover {
  background-color: #f0f0f0;
}

.notification-badge {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background-color: red;
  color: #fff;
  font-size: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
