* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  box-sizing: border-box;
}

.navbar {
  background-color: #001000;
  color: white;
  padding: 0.3rem;
  text-align: center;
  position: sticky;
}

a {
  display: flex;
  color: #f5bcb9;
  text-decoration: none;
  align-items: center;
}

.navbar-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

img {
  width: 6rem;
  height: 5rem;
}

button,
select,
input {
  border-radius: 2rem;
  padding: 0.2rem;
}

.auth-buttons > button {
  background-color: #001000;
  color: #f5bcb9;
  border-color: #f5bcb9;
}
