.form-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.form-img>img {
  width: 50rem;
}

.form-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-login {
  background-color: #f7c5b0;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.form-institution {
  background-color: #845e52;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  margin: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;

  border-radius: 1rem;
}

.form-button {
  width: 100%;
  padding: 1rem;
  background-color: #845e52;
  color: #f7c5b0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button-diff {
  width: 100%;
  padding: 1rem;
  background-color: #f7c5b0;
  color: #845e52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

form > p > a {
  text-decoration: none;
  color: #845e52;
}
