<!DOCTYPE HTML>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FreeWrite|LogIn</title>

    <link rel="stylesheet" href="../CSS/index.css" /> <!-- default features -->
    <link rel="stylesheet" href="../CSS/login.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="../js/login.js"></script>
</head>

<body>
    <header class="navbar">
        <div>
            <img src="../Images/logo white.png" alt="logo" class="navimg">
        </div>

        <div class="navButtons">
            <select>
                <option value="Story">Story</option>
                <option value="User">User</option>
                <option value="Writer">Writer</option>
                <option value="Genre">Genre</option>
            </select>
            <input type="text" placeholder="Search" class="search">
            <button class="unlitButton">Sign Up</button>
            <button class="litButton">Login</button>
        </div>
    </header>

    <div class="loginbody">
        <div class="loginImg">
            <img src="../Images/FeatherIcon.png" alt="login" class="loginimg">
        </div>

        <div class="login">
            <h1>Login</h1>
            <form action="login.php" method="post">
                <label for="email">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="email" placeholder="Email" id="email" required>
                <br>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <br>
                <input type="submit" value="Login">
            </form>
            <a href="forgotpassword.html">Forgot Password?</a>

            <p>Don't have an account? <a href="signup.html">Sign Up</a></p>

            <p>Institute Login? <a href="signup.html">Log in here</a></p>
        </div>

        <div class="login" >
            <h1>Sign up</h1>
            <form action="signup.php" method="post">
            
                <label for="firstname">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="firstname" placeholder="First Name" id="firstname" required>
                <br>
                <label for="lastname">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>
                <br>
                <label for="email">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="email" placeholder="Email" id="email" required>
                <br>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <br>
                <label for="confpassword">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="confpassword" placeholder="Confirm Password" id="confpassword" required>
                <br>
                <input type="submit" value="Sign Up">
            <p>Already have an account? <a href="signup.html">Sign Up</a></p>
        </div>
    </div>
</body>

</html>