<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Free-Write/public/
    
    # Prevent direct access to .htaccess file
    <Files .htaccess>
        Order Allow,Deny
        Deny from all
    </Files>

    # Ignore existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Redirect all other requests to index.php
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>

# Disable directory browsing
Options -Indexes