<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freewrite - Explore and Share Incredible Stories</title>
    <link rel="stylesheet" href="/public/css/writer.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Add header content here -->
        <h2>Freewrite</h2>
    </header>

    <main>
        <div class="dashboard">
            <!-- Profile Section -->
            <div class="profile-section">
                <img src="/public/images/Writer/profile.png" alt="User Profile">
                <h2>Michael Thompson</h2>
                <p>250 followers</p>
            </div>

            <!-- Navigation for Writer Options -->
            <nav>
                <a href="#books">Books</a>
                <a href="#quotes">Quotes</a>
                <a href="#spin-off-requests">Spin-off requests</a>
                <a href="#competitions">Competitions</a>
            </nav>

            <!-- Books Section -->
            <section class="quotes-section">
                <h2>Quotes</h2>
                <button class="button-new">+ New</button>
                <ul class="quotes-list">
                    <li class="quote-item">
                        <div class="quote-info">
                            <h3>Writers on Writing</h3>
                            <p>Chapter 3</p>
                        </div>
                        <button class="quote-options">...</button>
                    </li>
                    <li class="quote-item">
                        
                        <div class="quote-info">
                            <h3>Writers on Writing</h3>
                            <p>Chapter 2</p>
                        </div>
                        <button class="quote-options">...</button>
                    </li>
                    <li class="quote-item">
                        
                        <div class="quote-info">
                            <h3>Writers on Writing</h3>
                            <p>Chapter 1</p>
                        </div>
                        <button class="quote-options">...</button>
                    </li>
                    <li class="quote-item">
                       
                        <div class="quote-info">
                            <h3>Writers on Writing</h3>
                            <p>Chapter 3</p>
                        </div>
                        <button class="quote-options">...</button>
                    </li>
                </ul>
            </section>
        </div>
    </main>

    <!-- Footer Section -->
    <footer>
        <!-- Add footer content here -->
        <p>© 2024 Freewrite. All rights reserved.</p>
    </footer>

    <script src="../public/js/home.js"></script>
</body>

</html>